{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Breeding Statistics {% endblock %}
{% block content %}
<section class="section-a">
	<div class="container text-center">
		<form>
			<div class="row sf-html-block">
				<div class="col-lg-12 col-md-12 form-group">
					<h4>Breeding Statistics &amp; Fertility</h4>
				</div>
			</div>
			{% csrf_token %}
		</form>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12">
				<div class="table-responsive">
					<table id="breedingStatisticsTable" class="table table-hover">
						<thead class="text-center">
							<tr>
								<th>Cow Id</th>
								<th>Cow Name</th>
								<th>Category</th>
								<th>Status</th>
								<th>No of Services</th>
								<th>P.D +</th>
								<th>P.D -</th>
								<th>Cost</th>
								<th>Delivered</th>
								<th>Males</th>
								<th>Females</th>
								<th>Abortions</th>
								<th>Fertiliy Rate</th>
							</tr>
						</thead>
						<tbody class="text-center">
							{% if cows_list %}
							{% for cow in cows_list %}
							<tr>
								<td> {{ cow.id }} </td>
								<td> {{ cow.name }} </td>
								<td> {{ cow.category }} </td>
								<td> {{ cow.status }} </td>
								<td> {{ cow.services }} </td>
								<td> {{ cow.positive_pregnancies }} </td>
								<td> {{ cow.negative_pregnancies }} </td>
								<td> {{ cow.total_cost }} </td>
								<td> {{ cow.deliveries }} </td>
								<td> {{ cow.males_delivered }} </td>
								<td> {{ cow.females_delivered }} </td>
								<td> {{ cow.abortions }} </td>
								<td> {{ cow.fertility_rate }} </td>
							</tr>
							{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="summary">
					<h4 class="text-center">Breeding Summary</h4>
					<div class="row">
						<p class="col-lg-6 col-sm-12 col-md-6 text-center">
							Total Services:
						</p>
						<p class="col-lg-6 col-sm-6 col-md-6 text-center">
							{{total_services}}
						</p>
					</div>
					<div class="row">
						<p class="col-lg-6 text-center">
							Total Conceptions:
						</p>
						<p class="col-lg-6 text-center">
							{{total_conceptions}}
						</p>
					</div>
					<div class="row">
						<p class="col-lg-6 text-center">
							Total Failed:
						</p>
						<p class="col-lg-6 text-center">
							{{total_failed}}
						</p>
					</div>
					<div class="row">
						<p class="col-lg-6 text-center">
							Total Deliveries:
						</p>
						<p class="col-lg-6 text-center">
							{{total_deliveries}}
						</p>
					</div>
					<div class="row">
						<p class="col-lg-6 text-center">
							Conception rate:
						</p>
						<p class="col-lg-6 text-center">
							{{conception_rate}} &percnt;
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}