{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Clients Statements {% endblock %}
{% block content %}
{% load mathfilters %}
<section>
	<div class="text-center container">
		<form method="get">
			<div class="row sf-html-block">
				<div class="col-lg-4 col-sm-12 form-group">
					<select id="client_id" class="form-control" name="client_id" required>
					<script>
						var client = "{{ client }}";
					</script>
						<option value="client_id" disabled selected>Select Client</option>
						{% if clients_list %}
						{% for client in clients_list %}
						<option value="{{ client.name }}" name="client_id"> {{ client.name }} </option>
						{% endfor %}
						{% endif %}
					</select>
				</div>
				<div class="col-lg-3 form-group">
					<input id="sales_from_date" class="form-control" type="date" name="sales_from_date"
					placeholder="From Date" value="{{sales_from_date|date:'Y-m-d'}}">
				</div>
				<div class="col-lg-3 form-group">
					<input id="sales_to_date" class="form-control" type="date" name="sales_to_date"
						   placeholder="To Date" value="{{sales_to_date|date:'Y-m-d'}}">
				</div>
				<div class="col-lg-2 form-group">
					<button type="submit" class="btn btn-primary">Retrieve</button>
				</div>
			</div>
			{% csrf_token %}
		</form>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			  <div class="panel panel-default text-center">
					<div class="panel-heading">
						<h5> Showing data from {{sales_from_date|date:'d/m/y'}} to {{sales_to_date|date:'d/m/y'}} </h5>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-6 col-sm-12 col-md-6 text-center">
								 <p> Client:
									 <span class="badge badge-info">{{client}} </span>
								 </p>
								 <p>Total Quantity Sold:
									 <span class="badge badge-info">{{total_quantity_sold}} </span>
								 </p>
							</div>
							<div class="col-lg-6 col-sm-12 col-md-6 text-center">
								 <p>Total Sales (Ksh):
									 <span class="badge badge-info">{{total_sales_value}} </span>
								 </p>
								 <p>Total Paid (Ksh):
									 <span class="badge badge-info">{{total_milk_sales_payments}} </span>
								 </p>
								 <p>Balance (Ksh):
									 <span class="badge badge-info">{{milk_payments_balance}} </span>
								 </p>
							</div>
						</div>
					</div>
			  </div>
		</div>
	</div>
	<div class="row">
			<div class="col-lg-12">
				<div class="table-responsive">
					<table id="salesSummaryTable" class="table table-hover">
						<thead class="text-center">
							<tr>
								<th> # </th>
								<th> Client Name</th>
								<th> Milk Quantity(Kgs) </th>
								<th> Unit Price (Ksh) </th>
								<th> Sales Amount (Ksh) </th>
							</tr>
						</thead>
						<tbody class="text-center">
							{% if milk_sales_list %}
							{% for sale in milk_sales_list %}
							<tr>
								<td> {{ forloop.counter }} </td>
								<td> {{ sale.client.name }} </td>
								<td> {{ sale.quantity }} </td>
								<td> {{ sale.client.unit_price }} </td>
								<td> {{ sale.quantity|mul:sale.client.unit_price }} </td>
							</tr>
							{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
</section>
{% endblock %}