{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Client Purchase History {% endblock %}
{% block content %}
{% load mathfilters %}
<section>
	<div class="text-center container">
		{% if messages %}
		<div class="text-center">
			{% for message in messages %}
			{% if message.tags %}
				<p class="alert alert-{{message.tags}}"> {{message}} </p>
			{% endif %}
			{% endfor %}
		</div>
		{% endif %}
		<form method="get">
			<div class="row sf-html-block">
				<div class="col-lg-3 mx-auto form-group">
					<input id="sales_from_date" class="form-control" type="date" name="sales_from_date"
					placeholder="From Date" value="{{sales_from_date|date:'Y-m-d'}}">
				</div>
				<div class="col-lg-3 mx-auto form-group">
					<input id="sales_to_date" class="form-control" type="date" name="sales_to_date"
						   placeholder="To Date" value="{{sales_to_date|date:'Y-m-d'}}">
				</div>
				<div class="col-lg-2 mx-auto form-group">
					<button type="submit" class="btn btn-primary">Retrieve</button>
				</div>
			</div>
			{% csrf_token %}
		</form>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			  <div class="panel panel-default text-center">
					<div class="panel-heading">
						<h5> Showing data from {{sales_from_date|date:'d/m/y'}} to {{sales_to_date|date:'d/m/y'}} </h5>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-6 col-sm-12 col-md-6 text-center">
								 <p> Client:
									 <span class="badge badge-info">{{client}} </span>
								 </p>
								 <p>Total Quantity Sold:
									 <span class="badge badge-info">{{total_quantity_sold|floatformat:2}} </span>
								 </p>
							</div>
							<div class="col-lg-6 col-sm-12 col-md-6 text-center">
								 <p>Total Sales (Ksh):
									 <span class="badge badge-info">{{total_sales_value|floatformat:2}} </span>
								 </p>
							</div>
						</div>
					</div>
			  </div>
		</div>
	</div>
	<div class="row">
			<div class="col-lg-12">
				<div class="table-responsive">
					<table id="salesSummaryTable" class="table table-hover">
						<thead class="text-center">
							<tr>
								<th> # </th>
								<th> Date </th>
								<th> Milk Quantity(Kgs) </th>
								<th> Unit Price (Ksh) </th>
								<th> Sales Amount (Ksh) </th>
							</tr>
						</thead>
						<tbody class="text-center">
							{% if milk_sales_list %}
							{% for sale in milk_sales_list %}
							<tr>
								<td> {{ forloop.counter }} </td>
								<td> {{ sale.date }} </td>
								<td> {{ sale.quantity|floatformat:2 }} </td>
								<td> {{ sale.client.unit_price|floatformat:2 }} </td>
								<td> {{ sale.quantity|mul:sale.client.unit_price|floatformat:2 }} </td>
							</tr>
							{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
</section>
{% endblock %}