<!DOCTYPE html>
<html>
{% load static %}

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, user-scalable=true,">
	<link rel="manifest" href="{% static 'html/manifest.json' %}">
	<!-- Address bar theme color-->
	<meta name="theme-color" content="#2F3BA2" />
	<!-- Add iOS meta tags and icons -->
	<!-- CODELAB: Add iOS meta tags and icons -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="DigitalDairy">
	<link rel="apple-touch-icon" href="">

	<!-- FontAwesome -->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		type="text/css">
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.css' %}">
	<!-- dataTables css files -->
	<link href="{% static 'css/dataTables.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/buttons.dataTables.min.css' %}" rel="stylesheet" />
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" media="screen">
	<title>{% block title %} {% endblock %} - {{ user.userprofile.farm_name}}</title>
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{% url 'digitaldairy:home' %}">DigitalDairy</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupported">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupported">
			<ul class="navbar-nav mr-auto text-center">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
						aria-haspopup="true" href="{% url 'digitaldairy:daily_milk_production' %}"> Milk Production
						<span class="sr-only">
						</span>
					</a>
					<ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:daily_milk_production' %}">Daily
								Production</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:monthly_milk_production' %}">Monthly
								Production</a>
						</li>
						<li>
							<a class="dropdown-item"
								href="{% url 'digitaldairy:milk_production_statistics' %}">Production
								Stats</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
						aria-haspopup="true" href="#">Milk Distribution</a>
					<ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:clients_consumers' %}">Clients &amp;
								Customers</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:milk_sales' %}">Daily Sales &
								Consumption</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:clients_statements' %}">Clients
								Statements</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:consumers_statements' %}">Consumers
								Statements</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:milk_sales_payments' %}">Milk Sales
								Payments</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:milk_sales_statistics' %}">Sales
								stats</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
						aria-haspopup="true" href="{% url 'digitaldairy:cows' %}">Herd Management</a>
					<ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:cows' %}">Herd Details</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:cow_profile' %}">Body Traits</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:weight_recording' %}">Weight
								Recording</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:calf_management' %}">Calf Management</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:cow_sales' %}">Cow Sales</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
						aria-haspopup="true" href="#">Animal Health</a>
					<ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:cow_health' %}">Treatments</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:deworming' %}">Deworming</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:vaccinations' %}">Vaccination</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:cow_diseases' %}">Diseases</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:deaths_autopsy' %}">Deaths &amp;
								Autopsy</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
						aria-haspopup="true" href="#">Animal Breeding</a>
					<ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:semen_catalog' %}">Semen Catalog</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:ai_records' %}"> AI Records &amp; Failed
								Inseminations </a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:pregnancy_diagnosis' %}"> Pregnancy
								Calendar & Diagnosis
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:calving_maternity' %}">Calvings</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:abortions_miscarriages' %}">Abortion
								&amp; Miscarriages</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:breeding_alerts' %}">Breeding Alerts</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:breeding_statistics' %}">Breeding
								Statistics</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
						aria-haspopup="true" href="#">Animal Feeding</a>
					<ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:cow_feed_items' %}">Feed Items Stock</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:cow_feeds' %}">Feeding Formulations
								&amp; Programmes</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:daily_feeding' %}">Daily Feeding</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"
						aria-haspopup="true" href="#">Extras</a>
					<ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:cow_insurance' %}">Cow Insurance</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:income' %}">Daily Income</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:expenses' %}">Daily Expenses</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'digitaldairy:employees' %}">Employees List &amp;
								Payroll</a>
						</li>
					</ul>
				</li>
				{% if user.is_authenticated %}
				<li class="nav-item dropdown navbar-right">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="listitem" aria-expanded="false"
						aria-haspopup="true" href="#">Welcome , {{user.username}}</a>
					<ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{% url 'accounts:profile' %}">Account Profile</a>
						</li>
						<li>
							<a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
						</li>
					</ul>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<main>
		<div class="container-fluid">
			{% block content %}
			{% endblock %}
		</div>
	</main>
	<!-- JavaScript files -->
	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-app.js"></script>
	<!-- Add Firebase products that you want to use -->
	<script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-messaging.js"></script>
	<!-- JQuery -->
	<script src="{% static 'jQuery/jquery.js' %}"></script>
	<!-- Chart js -->
	<script src="{% static 'js/chart.js@2.8.0.js' %}"></script>
	<!-- Bootstrap js -->
	<script src="{% static 'bootstrap-4.0.0-dist/js/bootstrap.js' %}"></script>
	<!--DataTables js-->
	<script type="text/javascript" src="{% static 'js/pdfmake.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vfs_fonts.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body>

</html>