{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Herd Records {% endblock %}
{% block content %}
		<section class="section-a">
			<div class="container text-center">
				<div class="row">
					<div class="col-lg-6 col-md-6 order-lg-2 order-md-3 sf-html-block">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cowBodyTraitsInputModal">
							<span>
								&plus; Add Record
							</span>
						</button>
					</div>
					<div class="col-lg-6 col-md-6 sf-html-block">
						<h4> Body Traits Records</h4>
					</div>
				</div>
			</div>
			<div class="modal" id="cowBodyTraitsInputModal" tabindex="-1" aria-labelledby="cowInputModalLabel"
			role="dialog" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
								<h4 class="modal-title text-center" id="cowInputModalLabel">
									Add Body Traits Record
								</h4>
								<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
						</div>
						<div class="modal-body">
							<form id="cowBodyTraitsInputForm" method="post" action="{% url 'digitaldairy:cow_profile' %}">
								<div class="form-group">
									<label for="cow_id" class="col-form-label">
										Select Cow
									</label>
									<select id="cow_id" class="form-control" name="cow_id" required>
										<option value="cow_id" disabled selected>Select Cow</option>
											{% if all_cows %}
											{% for cow in all_cows %}
											<option value="{{ cow.id }}" name="cow_id"> {{ cow.name }} </option>
											{% endfor %}
											{% endif %}
									</select>
                                </div>
								<div class="form-group">
									<label for="frame" class="col-form-label">
										Frame
									</label>
									<input id="frame" class="form-control" type="text" name="frame">
								</div>
								<div class="form-group">
									<label for="dairy_strength" class="col-form-label">
										Dairy Strength
									</label>
									<input id="dairy_strength" class="form-control" type="number" name="dairy_strength" step="0.01" min="0">
								</div>
								<div class="form-group">
									<label for="udder" class="col-form-label">
										Udder
									</label>
									<input id="udder" class="form-control" type="text" name="udder">
								</div>
								<div class="form-group">
									<label for="feet_legs" class="col-form-label">
										Feet &amp; Legs
									</label>
									<input id="feet_legs" class="form-control" type="text" name="feet_legs">
								</div>
								<div class="form-group">
									<label for="stature" class="col-form-label">
										Stature
									</label>
									<input id="stature" class="form-control" type="number" min="0" name="stature" step="0.01">
								</div>
								<div class="form-group">
									<label for="chest_width" class="col-form-label">
										Chest Width
									</label>
									<input id="chest_width" class="form-control" type="number" min="0" step="0.01" name="chest_width">
								</div>
								<div class="form-group">
									<label for="body_depth" class="col-form-label">
										Body Depth
									</label>
									<input id="body_depth" class="form-control" type="number" min="0" step="0.01" name="body_depth">
								</div>
								<div class="form-group">
									<label for="angularity" class="col-form-label">
										Angularity
									</label>
									<input id="angularity" class="form-control" type="text" name="angularity">
								</div>
								<div class="form-group">
									<label for="cond_score" class="col-form-label">
										Condition Score
									</label>
									<input id="cond_score" class="form-control" type="number" min="0" step="0.01" name="cond_score">
								</div>
								<div class="form-group">
									<label for="thurl_width" class="col-form-label">
										Thurl Width
									</label>
									<input id="thurl_width" class="form-control"  type="number" name="thurl_width" step="0.01" min="0">
								</div>
								<div class="form-group">
									<label for="rump_angle" class="col-form-label">
										Rump Angle
									</label>
									<input id="rump_angle" class="form-control" type="number" min="0" step="0.01" name="rump_angle">
								</div>
								<div class="form-group">
									<label for="rump_width" class="col-form-label">
										Rump Width
									</label>
									<input id="rump_width" class="form-control" type="number" min="0" step="0.01" name="rump_width">
								</div>
								<div class="form-group">
									<label for="right_legs_rv" class="col-form-label">
										Right Legs R.V
									</label>
									<input id="right_legs_rv" class="form-control" type="text" name="right_legs_rv">
								</div>
								<div class="form-group">
									<label for="right_legs_sv" class="col-form-label">
										Right Legs S.V
									</label>
									<input id="right_legs_sv" class="form-control" type="text" name="right_legs_sv">
								</div>
								<div class="form-group">
									<label for="foot_angle" class="col-form-label">
										Foot Angle
									</label>
									<input id="foot_angle" class="form-control" type="number" min="0" step="0.01" name="foot_angle">
								</div>
								<div class="form-group">
									<label for="locomotion" class="col-form-label">
										Locomotion
									</label>
									<input id="locomotion" class="form-control" type="text" name="locomotion">
								</div>
								{% csrf_token %}
							</form>
						</div>
						<div class="modal-footer">
							<button form="cowBodyTraitsInputForm" type="submit" class="btn btn-primary">Save Record</button>
							<button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-lg-12">
						<div class="table-responsive">
							<table id="cowsTable" class="table table-hover">
								<thead class="text-center">
									<tr>
										<th>#</th>
										<th>Cow Name</th>
										<th>Frame</th>
										<th>Dairy Strength</th>
										<th>Udder</th>
										<th>Feet &amp; Legs</th>
										<th>Stature</th>
										<th>Chest Width</th>
										<th>Body Depth</th>
										<th>Angularity</th>
										<th>Cond. Score</th>
										<th>Thurl Width</th>
										<th>Rump Angle</th>
										<th>Rump Width</th>
										<th>R Legs R.V</th>
										<th>R Legs S.V</th>
										<th>Foot Angle</th>
										<th>Locomotion</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody class="text-center">
									{% if body_traits_list %}
									{% for body_traits in body_traits_list %}
									<tr data-src="{{body_traits.cow}}">
										<script>
											myStorage = window.sessionStorage;
											var object = {
											id: '{{body_traits.cow}}',
											frame: {{ body_traits.frame }},
										 	dairy_strength: {{ body_traits.dairy_strength }},
										 	udder: '{{ body_traits.udder }}',
										 	feet_legs: '{{ body_traits.feet_legs }}',
											stature: '{{ body_traits.stature }}',
											chest_width: {{ body_traits.chest_width }},
											body_depth:  {{ body_traits.body_depth }},
											angularity: '{{ body_traits.angularity }}',
											cond_score: {{ body_traits.cond_score }},
											thurl_width: {{ body_traits.thurl_width }},
											rump_angle: {{ body_traits.rump_angle }},
											rump_width: {{ body_traits.rump_width }},
											right_legs_rv: '{{ body_traits.right_legs_rv}}',
											right_legs_sv: '{{ body_traits.right_legs_sv}}',
											foot_angle: {{ body_traits.foot_angle }},
											locomotion: '{{ body_traits.locomotion }}',
											}
											myStorage.setItem('body_traits_'+ object.id,JSON.stringify(object))
										</script>
										<td> {{ forloop.counter }} </td>
										<td> {{ body_traits.cow }} </td>
										<td> {{ body_traits.frame }} </td>
										<td> {{ body_traits.dairy_strength }} </td>
										<td> {{ body_traits.udder }} </td>
										<td> {{ body_traits.feet_legs }} </td>
										<td> {{ body_traits.stature }} </td>
										<td> {{ body_traits.chest_width }} </td>
										<td> {{ body_traits.body_depth }} </td>
										<td> {{ body_traits.angularity }} </td>
										<td> {{ body_traits.cond_score }} </td>
										<td> {{ body_traits.thurl_width }} </td>
										<td> {{ body_traits.rump_angle }} </td>
										<td> {{ body_traits.rump_width }} </td>
										<td> {{ body_traits.right_legs_rv}} </td>
										<td> {{ body_traits.right_legs_sv}} </td>
										<td> {{ body_traits.foot_angle }} </td>
										<td> {{ body_traits.locomotion }} </td>
										<td>
											<button id="cowBodyTraitsEditBtn" type="button" data-toggle="modal" data-target="#cowBodyTraitsInputModal"
												class='btn btn-sm btn-primary' aria-label="Edit">
												<span class="fa fa-edit"></span>
											</button>
											<form id="deleteCowBodyTraitsForm" method="post" action="{% url 'digitaldairy:delete_cow_body_traits' %}">
												{% csrf_token %}
												<input name="body_traits_id" type="hidden" value="{{body_traits.cow}}">
												<button form="deleteCowBodyTraitsForm" type="submit" class='btn btn-sm btn-danger' aria-label="Delete">
													<span class="fa fa-times"></span>
												</button>
											</form>
										</td>
									</tr>
									{% endfor %}
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}