{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Cow Records {% endblock %}
{% block content %}
		<section class="section-a">
			<div class="container text-center">
				<div class="row">
					<div class="col-lg-6 col-md-6 order-lg-2 order-md-3 sf-html-block">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cowInputModal">
							<span>
								&plus; Add Animal
							</span>
						</button>
					</div>
					<div class="col-lg-6 col-md-6 sf-html-block">
						<h4> Cow Records</h4>
					</div>
				</div>
			</div>
			<div class="modal" id="cowInputModal" tabindex="-1" aria-labelledby="cowInputModalLabel"
			role="dialog" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
								<h4 class="modal-title text-center" id="cowInputModalLabel">
									Add Animal Record
								</h4>
								<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
						</div>
						<div class="modal-body">
							<form id="cowInputForm" method="post" action="{% url 'digitaldairy:save_cow' %}">
								<div class="form-group">
									<label for="date_of_birth" class="col-form-label">
										Date of Birth
									</label>
									<input id="date_of_birth" class="form-control" type="date" name="date_of_birth" required>
								</div>
								<div class="form-group">
									<label for="cow_id" class="col-form-label">
										Cow Id/Code
									</label>
									<input id="cow_id" class="form-control" type="text" name="cow_id" required>
								</div>
								<div class="form-group">
									<label for="cow_name" class="col-form-label">
										Cow Name
									</label>
									<input id="cow_name" class="form-control" type="text" name="cow_name" required>
								</div>
								<div class="form-group">
									<label for="grade" class="col-form-label">
										Grade
									</label>
									<select id="grade" class="form-control" name="grade" required>
										<option value="PEDIGREE" name="grade">PEDIGREE</option>
										<option value="APPENDIX" name="grade">APPENDIX</option>
										<option value="POOL" name="grade">POOL</option>
										<option value="INTERMEDIATE" name="grade">INTERMEDIATE</option>
										<option value="FOUNDATION" name="grade">FOUNDATION</option>
									</select>
								</div>
								<div class="form-group">
									<label for="breed" class="col-form-label">
										Breed
									</label>
									<input id="breed" class="form-control" type="text" name="breed">
								</div>
								<div class="form-group">
									<label for="color" class="col-form-label">
										Color
									</label>
									<input id="color" class="form-control" type="text" name="color">
								</div>
								<div class="form-group">
									<label for="lactations" class="col-form-label">
										Lactations
									</label>
									<input id="lactations" class="form-control" type="number" min="0" name="lactations">
								</div>
								<div class="form-group">
									<label for="sire_id" class="col-form-label">
										Sire
									</label>
									<input id="sire_id" class="form-control" type="text" name="sire_id">
								</div>
								<div class="form-group">
									<label for="dam" class="col-form-label">
										Dam
									</label>
									<input id="dam" class="form-control" type="text" name="dam">
								</div>
								<div class="form-group">
									<label for="category" class="col-form-label">
										Category
									</label>
									<select id="category" class="form-control" name="category" required>
										<option value="Milker" name="category">Milker</option>
										<option value="Heifer" name="category">Heifer</option>
										<option value="Dry" name="category">Dry</option>
										<option value="Steamer" name="category">Steamer</option>
										<option value="Incalf Heifer" name="category">Incalf Heifer</option>
										<option value="Calf" name="category">Calf</option>
										<option value="Yearling" name="category">Yearling</option>
										<option value="Bulling" name="category">Bulling</option>
										<option value="Bull" name="category">Bull</option>
										<option value="Weaner" name="category">Weaner</option>
										<option value="Weaner 1" name="category">Weaner 1</option>
										<option value="Weaner 2" name="category">Weaner 2</option>
										<option value="Weaner 3" name="category">Weaner 3</option>
									</select>
								</div>
								<div class="form-group">
									<label for="status" class="col-form-label">
										Status
									</label>
									<input id="status" class="form-control" type="text" name="status">
								</div>
								<div class="form-group">
									<label for="group" class="col-form-label">
										Group
									</label>
									<input id="group" class="form-control" type="text" name="group">
								</div>
								<div class="form-group">
									<label for="birth_weight" class="col-form-label">
										Birth Weight
									</label>
									<input id="birth_weight" class="form-control"  type="number" name="birth_weight" min="0">
								</div>
								<div class="form-group">
									<label for="source" class="col-form-label">
										Source
									</label>
									<input id="source" class="form-control" type="text" name="source">
								</div>
								{% csrf_token %}
							</form>
						</div>
						<div class="modal-footer">
							<button form="cowInputForm" type="submit" class="btn btn-primary">Save Record</button>
							<button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-lg-12">
						<div class="table-responsive">
							<table id="cowsTable" class="table table-hover">
								<thead class="text-center">
									<tr>
										<th>Cow Id</th>
										<th>Cow Name</th>
										<th>Grade</th>
										<th>Breed</th>
										<th>Color</th>
										<th>DOB</th>
										<th>Sire</th>
										<th>Dam</th>
										<th>Category</th>
										<th>Status</th>
										<th>Birth Weight(Kgs)</th>
										<th>Group</th>
										<th>Source</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody class="text-center">
									{% if cows_list %}
									{% for cow in cows_list %}
									<tr data-src="{{cow.id}}">
										<script>
											myStorage = window.sessionStorage;
											var object = {
											cow_id: '{{cow.id}}',
											cow_name: '{{cow.name}}',
											cow_grade: '{{cow.grade}}',
											cow_breed: '{{cow.breed}}',
											cow_color: '{{cow.color}}',
											cow_lactations: {{cow.lactations}},
											cow_dob: '{{cow.dob|date:"Y-m-d"}}',
											cow_sire: '{{cow.sire.bull_code}}',
											sire_id: '{{cow.sire.id}}',
											cow_dam: '{{cow.dam}}',
											cow_category: '{{cow.category}}',
											cow_status: '{{cow.status}}',
											birth_weight: {{cow.birth_weight}},
											cow_group: '{{cow.group}}',
											cow_source: '{{cow.source}}',
											}
											myStorage.setItem('cow_'+ object.cow_id,JSON.stringify
											 (object))
										</script>
										<td> {{ cow.id }} </td>
										<td> {{ cow.name }} </td>
										<td> {{ cow.grade }} </td>
										<td> {{ cow.breed }} </td>
										<td> {{ cow.color }} </td>
										<td> {{ cow.dob|date:"Y/m/d"  }} </td>
										<td> {{ cow.sire  }} </td>
										<td> {{ cow.dam  }} </td>
										<td> {{ cow.category  }} </td>
										<td> {{ cow.status  }} </td>
										<td> {{ cow.birth_weight  }} </td>
										<td> {{ cow.group  }} </td>
										<td> {{ cow.source  }} </td>
										<td>
											<button id="cowEditBtn" type="button" data-toggle="modal"
													data-target="#cowInputModal"
												class='btn btn-sm btn-primary' aria-label="Edit">
												<span class="fa fa-edit"></span>
											</button>
											<form id="deleteCowForm" method="post" action= "{% url 'digitaldairy:delete_cow' %}">
												{% csrf_token %}
												<input name="cow_id" type="hidden" value="{{cow.id}}">
												<button form="deleteCowForm" type="submit" class='btn btn-sm btn-danger' aria-label="Delete">
													<span class="fa fa-times"></span>
												</button>
											</form>
										</td>
									</tr>
									{% endfor %}
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}