{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Daily Feeding {% endblock %}
{% block content %}
{% load mathfilters %}
{% if daily_feeding_list %}
<script>
{% for daily_feeding in daily_feeding_list %}
	var daily_feeding = {
		id: {{ daily_feeding.id }},
		quantity: '{{ daily_feeding.quantity }}',
		feeding_category: '{{daily_feeding.feeding_category}}',
		date: '{{daily_feeding.date}}',
		feed_item: '{{daily_feeding.feed_item}}',
		}
	window.sessionStorage.setItem('daily_feeding_'+ daily_feeding.id,JSON.stringify(daily_feeding));
{% endfor %}
</script>
{% endif %}

<section>
    <div class="text-right sf-html-block">
        <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#dailyFeedingInputModal">
            <span>
                &plus; Daily Feeding
            </span>
        </button>
    </div>
    <div class="modal" id="dailyFeedingInputModal" tabindex="-1"
        aria-labelledby="dailyFeedingInputModalLabel" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="dailyFeedingInputModalLabel">
                        Add Daily Feeding Record
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="dailyFeedingInputForm" method="post" action="{% url 'digitaldairy:save_daily_feeding' %}">
                        <div class="form-group">
                            <label for="feeding_date" class="col-form-label">
                                Date
                            </label>
                            <input id="feeding_date" class="form-control" type="date" name="feeding_date" required>
                        </div>
                        <div class="form-group">
                            <label for="feed_item" class="col-form-label">
                                Select Item
                            </label>
                            <select required id="feed_item"  class="form-control" name="feed_item">
                                <option value="Select Item" disabled selected>Select Item</option>
                                {% if feeds_list %}
                                {% for feed_item in feeds_list %}
                                <option value="{{feed_item.name}}" name="feed_item">
                                {{feed_item.name}} ({{ feed_item.available_stock }})
                                </option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="feeding_category" class="col-form-label">
                                Feeding Group
                            </label>
                            <select id="feeding_category"  class="form-control"
                                name="feeding_category" required>
                                <option value="" disabled selected="selected">Select Group</option>
                                <option value="Milker">Milker</option>
                                <option value="Dry">Dry</option>
                                <option value="Steamer">Steamer</option>
                                <option value="Heifer">Heifer</option>
                                <option value="Incalf-Heifer">Incalf Heifer</option>
                                <option value="Calf">Calf</option>
                                <option value="Weaner-1">Weaner 1</option>
                                <option value="Weaner-2">Weaner 2</option>
                                <option value="Weaner-3">Weaner 3</option>
                                <option value="Bull">Bull</option>
                                <option value="Bulling-Calf">Bulling Calf</option>
                                <option value="Yearling">Yearling</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="feed_item_quantity" class="col-form-label">
                                Quantity
                            </label>
                            <input id="feed_item_quantity" class="form-control" type="number" step="0.01" name="feed_item_quantity" min="0">
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="dailyFeedingInputForm" type="submit" class="btn btn-primary">Save
                        Record</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <h4 class="text-center">
                        Daily Feeding List
                    </h4>
                    <table class="table table-hover">
                        <thead class="text-center">
                            <tr>
                                <th> # </th>
                                <th> Date </th>
                                <th> Item </th>
                                <th> Item Quantity </th>
                                <th> Feeding Group </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            {% if daily_feeding_list %}
                            {% for daily_feeding in daily_feeding_list %}
                            <tr data-src="{{daily_feeding.id}}">
                                <td> {{ forloop.counter }} </td>
                                <td> {{ daily_feeding.date }} </td>
                                <td>{{ daily_feeding.feed_item }}</td>
                                <td> {{daily_feeding.quantity}} </td>
                                <td> {{daily_feeding.feeding_category}} </td>
                                <td>
                                    <button type="button" data-toggle="modal" id="dailyFeedingEditBtn"
                                        data-target="#dailyFeedingInputModal" class='btn btn-sm btn-primary' aria-label="Edit">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                    <form id="deleteDailyFeedingForm" method="post"
                                          action="{% url 'digitaldairy:delete_daily_feeding' %}">
                                        <input name="daily_feeding_id" type="hidden" value="{{daily_feeding.id}}">
                                        {% csrf_token %}
                                        <button form="deleteDailyFeedingForm" type="submit"
                                                class='btn btn-sm btn-danger' aria-label="Delete">
                                            <span class="fa fa-times"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}