{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Animal Feeding {% endblock %}
{% block content %}
{% load mathfilters %}
<section id="section-a" class="tab-pane fade show active">
    <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-12 sf-html-block">
            <h4>
               Feed Items Stock
            </h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sf-html-block">
            <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#feedItemInputDialog">
                <span>
                    &plus; New Feeding Item
                </span>
            </button>
        </div>
    </div>
    <div class="modal" id="feedItemInputDialog" tabindex="-1" aria-labelledby="feedItemInputDialogLabel"
        role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="feedItemInputDialogLabel">
                        Add Feed Item
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="feedItemForm" method="post" action="{% url 'digitaldairy:save_feed_item' %}">
                        <div class="form-group">
                            <label for="item_name" class="col-form-label">
                                Item Name
                            </label>
                            <input id="item_name" class="form-control" type="text" name="item_name" required>
                        </div>
                        <div class="form-group">
                            <label for="item_unit_measure" class="col-form-label">
                                Unit of Measure
                            </label>
                            <input id="item_unit_measure" class="form-control" type="text" name="item_unit_measure">
                        </div>
                        <div class="form-group">
                            <label for="item_unit_price" class="col-form-label">
                                Item Unit Price
                            </label>
                            <input id="item_unit_price" class="form-control" type="number" name="item_unit_price" min="0">
                        </div>
                        <div class="form-group">
                            <label for="item_available_stock" class="col-form-label">
                                 Quantity
                            </label>
                            <input id="item_available_stock" class="form-control" type="number"
                                name="item_available_stock" min="0" required>
                        </div>
                        <div class="form-group">
                            <label for="item_reorder_level" class="col-form-label">
                                Item Reorder Level
                            </label>
                            <input id="item_reorder_level" class="form-control" type="number" name="item_reorder_level" min="0">
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="feedItemForm" type="submit" class="btn btn-primary">Save Record</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table id="feedItemsTable" class="table table-hover">
                        <thead class="text-center">
                            <tr>
                                <th> # </th>
                                <th> Item </th>
                                <th> Initial Stock </th>
                                <th> Unit Cost </th>
                                <th> Initial Stock Value </th>
                                <th> Current Stock </th>
                                <th> Consumed Stock </th>
                                <th> Consumption Value (Kshs) </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                           {% if feeds_list %}
                           {% for feed_item in feeds_list %}
                           <script>
                               myStorage = window.sessionStorage;
                               var object = {
                               name: '{{ feed_item.name }}',
                               unit_price: {{ feed_item.unit_price }},
                               initial_stock: {{ feed_item.initial_stock }},
                               reorder_level: {{ feed_item.reorder_level }},
                               unit_of_measure: '{{ feed_item.unit_of_measure }}',
                               }
                               myStorage.setItem('feed_item_'+ object.name,JSON.stringify(object))
                           </script>
                           <tr data-src="{{ feed_item.name }}">
                              <td> {{ forloop.counter }} </td>
                              <td> {{ feed_item.name }} </td>
                              <td> {{ feed_item.initial_stock }} </td>
                              <td> {{ feed_item.unit_price }} </td>
                              <td> {{ feed_item.unit_price|mul:feed_item.initial_stock }} </td>
                              <td> {{ feed_item.available_stock }} </td>
                              {% with feed_item.initial_stock|sub:feed_item.available_stock as consumed_stock %}
                              <td> {{ consumed_stock }} </td>
                              <td> {{ consumed_stock|mul:feed_item.unit_price }} </td>
                              {% endwith %}
                              <td>
                                  <button type="button" id="feedItemEditBtn" data-toggle="modal"
                                      data-target="#feedItemInputDialog" class='btn btn-sm btn-primary' aria-label="Edit">
                                      <span class="fa fa-edit"></span>
                                  </button>
                                  <form id="deleteFeedItemForm" method="post" action="{% url 'digitaldairy:delete_feed_item' %}">
                                    <input name="feed_item_name" type="hidden" value="{{feed_item.name}}">
                                    {% csrf_token %}
                                    <button form="deleteFeedItemForm" type="submit" class="btn btn-sm btn-danger" aria-label="Delete">
                                        <span class="fa fa-times"></span>
                                    </button>
                                  </form>
                              </td>
                           </tr>
                           {% endfor %}
                           {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}