{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Daily Income {% endblock %}
{% block content %}
{% if income_list %}
    <script>
    {% for income in income_list %}
        var object = {
            id: {{ income.id }},
            date: '{{ income.date|date:"Y-m-d" }}',
            amount: {{ income.amount }},
            source: '{{ income.source }}',
        }
        window.sessionStorage.setItem('income_' + object.id, JSON.stringify(object))
    {% endfor %}
    </script>
{% endif %}
<section id="section-a" class="tab-pane fade active show">
    <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-12 sf-html-block">
            <h4>Incomes List</h4>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sf-html-block">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#incomeInputModal">
                <span>
                    &plus; New Record
                </span>
            </button>
        </div>
    </div>
    <div class="container text-center">
        <form id="incomeRecordsSearchForm" method="get" action="{% url 'digitaldairy:income' %}">
            <div class="row">
                <div class="col-lg-3 col-md-4 offset-lg-3 col-sm-12 sf-html-block">
                    <select class="form-control" name="month" required>
                        <script>
                            var month = {{ income_chosen_date| date:'m'}};
                            var year = {{ income_chosen_date| date:'Y'}};
                        </script>
                        <option value="month" disabled selected="selected">Select Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 sf-html-block">
                    <input class="form-control" type="number" name="year" required>
                </div>
                {% csrf_token %}
                <div class="col-lg-3 col-md-4 col-sm-12 sf-html-block">
                    <button form="incomeRecordsSearchForm" type="submit" class="btn btn-primary">Retrieve</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal" id="incomeInputModal" tabindex="-1" aria-labelledby="incomeInputModalLabel" role="dialog"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="incomeInputModalLabel">
                        Add Income Record
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="incomeInputForm" method="post" action="{% url 'digitaldairy:save_income' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="income_date" class="col-form-label">
                                Date
                            </label>
                            <input id="income_date" class="form-control" type="date" name="income_date" required>
                        </div>
                        <div class="form-group">
                            <label for="income_amount" class="col-form-label">
                                Income Amount
                            </label>
                            <input id="income_amount" class="form-control" type="number" name="income_amount" min="0"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="income_source" class="col-form-label">
                                Income Source
                            </label>
                            <input id="income_source" class="form-control" type="text" name="income_source"
                                minlength="2" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button form="incomeInputForm" type="submit" class="btn btn-primary">Save Record</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-lg-8">
                <div class="table-responsive">
                    <table id="incomeTable" class="table table-hover">
                        <thead class="text-center">
                            <tr>
                                <th>#</th>
                                <th>Date Received</th>
                                <th>Income Amount</th>
                                <th>Income Source</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            {% if income_list %}
                            {% for income in income_list %}
                            <tr data-src="{{income.id}}">
                                <td> {{ forloop.counter }} </td>
                                <td> {{ income.date }} </td>
                                <td> {{ income.amount }} </td>
                                <td> {{ income.source }} </td>
                                <td>
                                    <button id="incomeEditBtn" type="button" data-toggle="modal"
                                        data-target="#incomeInputModal" class="btn btn-sm btn-primary"
                                        aria-label="Edit">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                    <form id="deleteIncomeForm" method="post" action="{% url 'digitaldairy:delete_income' %}">
                                        <input name="income_id" type="hidden" value="{{income.id}}">
                                        {% csrf_token %}
                                        <button form="deleteIncomeForm" type="submit" class="btn btn-sm btn-danger"
                                            aria-label="Delete">
                                            <span class="fa fa-times"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-4">
                <div>
                    <h4 class="text-center">Incomes Summary for {{ income_chosen_date|date:'F Y'}}</h4>
                    <div class="row">
                        <p class="col-lg-6 text-center">
                            Total Income Amount:
                        </p>
                        <p class="col-lg-6 text-center">
                            {{ total_month_income }}
                        </p>
                    </div>
                    <div class="row">
                        <p class="col-lg-6 text-center">
                            Total Income for {{ income_chosen_date|date:'Y'}}
                        </p>
                        <p class="col-lg-6 text-center">
                            {{ total_year_income }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
