{% extends "digitaldairy/html/common-header.html" %}
{% block title %} My Account Settings {% endblock %}
{% block content %}
<section class="section-a">
		<div class="row">
			<div class="col-lg-8 col-md-12 col-sm-12">
				<div class="card">
				  	<img class="card-img-top" src="..." alt="Card image cap">
				 	 <div class="card-body">
						<h5 class="card-title">Personal Info</h5>
						<div class="form-group row">
							  <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
							  <div class="col-sm-10">
								<input type="text" class="form-control" id="first_name" placeholder="First Name" name="first_name" value="{{user.first_name}}" required>
							  </div>
						</div>
						<div class="form-group row">
							  <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
							  <div class="col-sm-10">
								<input type="text" class="form-control" id="last_name" placeholder="Last Name" name="last_name" value="{{user.last_name}}" required>
							  </div>
						</div>
						<div class="form-group row">
							  <label for="phone_number" class="col-sm-2 col-form-label">Phone Number</label>
							  <div class="col-sm-10">
								<input type="text" class="form-control" id="phone_number" placeholder="Phone Number" name="phone_number" value="{{user.userprofile.phone_number}}" required>
							  </div>
						</div>
						<div class="form-group row">
							  <label for="client_address" class="col-sm-2 col-form-label">Address</label>
							  <div class="col-sm-10">
								<input type="text" class="form-control" id="client_address" placeholder="Address" value="{{user.userprofile.client_address}}" name="client_address">
							  </div>
						</div>
						<div class="form-group row">
							  <label for="farm_name" class="col-sm-2 col-form-label">Farm Name</label>
							  <div class="col-sm-10">
								<input type="text" class="form-control" id="farm_name" placeholder="Farm Name" value="{{user.userprofile.farm_name}}" name="farm_name">
							  </div>
						</div>
						<div class="form-group row">
						  <label for="farm_location" class="col-sm-2 col-form-label">Farm Location</label>
						  <div class="col-sm-10">
							<input type="text" class="form-control" id="farm_location" placeholder="Farm Location" value="{{user.userprofile.farm_location}}" name="farm_location">
						  </div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-sm">Update Profile</button>
						</div>
				  </div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">Update Password</h5>
					  <div class="form-group row">
						  <label for="current_password" class="col-sm-2 col-form-label">Current Password</label>
						  <div class="col-sm-10">
							<input type="text" class="form-control" id="current_password" placeholder="Current Password" name="current_password">
						  </div>
					  </div>
						<div class="form-group row">
						  <label for="new_password" class="col-sm-2 col-form-label">New Password</label>
						  <div class="col-sm-10">
							<input type="text" class="form-control" id="new_password" placeholder="New Password" name="new_password">
						  </div>
						</div>
						<div class="form-group row">
						  <label for="phone_number" class="col-sm-2 col-form-label">Confirm Password</label>
						  <div class="col-sm-10">
							<input type="text" class="form-control" id="confirm_password" placeholder="Confirm Password" name="confirm_password">
						  </div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-sm">Update Password</button>
						</div>
				  </div>
				</div>
			</div>
		</div>
</section>
{% endblock %}