{% extends "digitaldairy/html/common-header.html" %}
{% block content %}
<div class="row w-75 mx-auto text-center">
	<div class="col-lg-4 mx-auto">
		<form action="" method="post">
			{% csrf_token %}
			{% if form.email.errors %}
			{{ form.email.errors }}
			{% endif %}
			<div class="form-group">
				<input type="email" name="email" class="form-control" required placeholder="Email">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary btn-md" value="Reset password">
			</div>
		</form>
	</div>
</div>
{% endblock %}