{% extends "digitaldairy/html/index.html" %}
{% block title %} Digital Dairy Cattle Management Software {% endblock %}
{% block content %}
{% load static %}
<div class="row w-75 mx-auto text-center u-pt-20">
	<div class="col-lg-4 mx-auto">
		<form action="" method="post">
			{% csrf_token %}
			{% if form.email.errors %}
			{{ form.email.errors }}
			{% endif %}
			<div class="form-group">
				<input type="email" name="email" class="form-control" placeholder="Your Email" required>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary btn-sm" value="Reset password">
			</div>
		</form>
	</div>
</div>
{% endblock %}