{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Miscarriages &amp; Abortions Records {% endblock %}
{% block content %}
{% load subtract_dates %}
		<section class="section-a">
			<div class="container text-center">
				<div class="row">
					<div class="col-lg-6 col-md-6 sf-html-block">
						<h4>Miscarriages &amp; Abortions Records</h4>
					</div>
					<div class="col-lg-6 col-md-6 sf-html-block">
						<button type="button" data-toggle="modal" data-target="#abortionsInputModal" class="btn btn-primary">
							<span>
								&plus; Add Abortion Record
							</span>
						</button>
					</div>
				</div>
			</div>
			<div class="modal" id="abortionsInputModal" tabindex="-1" aria-labelledby="abortionsInputModalLabel"
			role="dialog" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
								<h4 class="modal-title text-center" id="abortionsInputModalLabel">
									Add Abortion Record
								</h4>
								<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
						</div>
						<div class="modal-body">
							<form id="abortionsInputForm" method="post" action="/digitaldairy/save_abortion_miscarriage_record">
                                <div class="form-group">
                                    <label for="event_date" class="col-form-label">
                                        Date
                                    </label>
                                    <input id="event_date" class="form-control" type="date" name="event_date"
                                    required>
                                </div>
								<div class="form-group">
									<label for="ai_record_id" class="col-form-label">
										Select Cow
									</label>
									<select required id="ai_record_id" class="form-control" name="ai_record_id">
										<option value="ai_record_id" disabled selected="selected">Select
										Cow</option>
										{% if ai_records_list %}
										{% for ai_record in ai_records_list %}
										{% if ai_record.pregnancy_diagnosis_result == 'Positive' %}
										<option value="{{ai_record.id}}" name="ai_record_id"> {{ai_record.cow.name}}
										</option>
										{% endif %}
										{% endfor %}
										{% endif %}
									</select>
								</div>
                                <div class="form-group">
                                    <label for="event_type" class="col-form-label">
                                        Abortion/Miscarriage 
                                    </label>
                                    <select id="event_type" class="form-control" name="event_type">
                                        <option value="Abortion">Abortion</option>
                                        <option value="Miscarriage">Miscarriage</option>
                                    </select>
                                </div>
								<div class="form-group">
									<label for="event_cause" class="col-form-label">
										Cause
									</label>
									<input id="event_cause" class="form-control"  type="text" name="event_cause">
								</div>
								<div class="form-group">
									<label for="event_cost" class="col-form-label">
										Cost
									</label>
									<input id="event_cost" class="form-control" type="number" name="event_cost" min="0">
								</div>
								<div class="form-group">
									<label for="vet_name" class="col-form-label">
										Vet Name
									</label>
									<input id="vet_name" class="form-control" type="text" name="vet_name">
								</div>
								{% csrf_token %}
							</form>
						</div>
						<div class="modal-footer">
							<button form="abortionsInputForm" type="submit" class="btn btn-primary">Save Record</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-lg-12">
						<div class="table-responsive">
							<table id="abortionsTable" class="table table-hover">
								<thead class="text-center">
									<tr>
										<th> # </th>
										<th>Cow Id</th>
										<th>Cow Name</th>
										<th>DOB </th>
										<th>Cow Age</th>
										<th>Sex</th>
										<th>Breed</th>
										<th>Weight</th>
										<th>Progeny</th>
										<th>Bull Name</th>
										<th>C.I</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody class="text-center">
								{% if abortions_miscarriages_list %}
									{% for abortion_miscarriage in abortions_miscarriages_list %}
									<tr data-src="{{abortion_miscarriage.ai_record.id}}">
										<td> {{ forloop.counter }} </td>
										<td> {{ abortion_miscarriage.ai_record.cow.id }} </td>
										<td> {{ abortion_miscarriage.ai_record.cow.name }}</td>
										<td> {{ abortion_miscarriage.ai_record.cow.dob }} </td>
										{% now 'SHORT_DATE_FORMAT' as current_date %}
										<td> {{ current_date|minus_dates:abortion_miscarriage.ai_record.cow.dob }} days
										</td>
										<td> {{ abortion_miscarriage.ai_record.cow.category }} </td>
										<td> {{ abortion_miscarriage.ai_record.cow.breed }} </td>
										<td> {{ abortion_miscarriage.ai_record.cow.birth_weight }} </td>
										<td>  change_this </td>
										<td> {{ abortion_miscarriage.ai_record.semen_record.bull_name }}
										</td>
										<td> change_this </td>
										<td>
											<button id="abortionEditBtn" type="button" data-toggle="modal"
											data-target="#abortionsInputModal"
												class='btn btn-sm btn-primary' aria-label="Edit">
												<span class="fa fa-edit"></span>
											</button>
											<form id="deleteAbortionForm" method="post"
											action="/digitaldairy/delete_abortion_record">
												{% csrf_token %}
												<input name="cow_id" type="hidden"
												value=" {{abortion_miscarriage.ai_record.id}} ">
												<button form="deleteAbortionForm" type="button" class='btn btn-sm btn-danger' aria-label="Delete">
													<span class="fa fa-times"></span>
												</button>
											</form>
										</td>
									</tr>
									{% endfor %}
								{% endif %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}