{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Breeding Alerts {% endblock %}
{% block content %}
<section class="section-a">
	<div class="container text-center">
		<div class="row sf-html-block">
			<div class="col-lg-12">
				<h4>Breeding Alerts</h4>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div>
					<h5>Cows due for calving [ {{current_date|date:'F'}} ]</h5>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead class="text-center">
							<tr>
								<th>#</th>
								<th>Cow Id</th>
								<th>Cow Name</th>
								<th> Date Served </th>
								<th>Due Date</th>
							</tr>
						</thead>
						<tbody class="text-center">
						{% if calvings_for_current_month %}
						{% for calving_for_current_month in calvings_for_current_month%}
							<tr>
								<td> {{forloop.counter}} </td>
								<td> {{ calving_for_current_month.cow.id }} </td>
								<td> {{ calving_for_current_month.cow.name }} </td>
								<td> {{ calving_for_current_month.service_date }} </td>
								<td> {{ calving_for_current_month.due_date }} </td>
							</tr>
						{% endfor %}
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div>
					<h5>Cows due for steaming [{{current_date|date:'F'}}]</h5>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead class="text-center">
							<tr>
								<th>#</th>
								<th>Cow Id</th>
								<th>Cow Name</th>
								<th> Date Served </th>
								<th>Steaming Date</th>
							</tr>
						</thead>
						<tbody class="text-center">
						{% if steamings_for_current_month %}
						{% for steaming_for_current_month in steamings_for_current_month%}
							<tr>
								<td> {{forloop.counter}} </td>
								<td> {{ steaming_for_current_month.cow.id }} </td>
								<td> {{ steaming_for_current_month.cow.name }} </td>
								<td> {{ steaming_for_current_month.service_date }} </td>
								<td> {{ steaming_for_current_month.steaming_date }} </td>
							</tr>
						{% endfor %}
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div>
					<h5>Cows due for drying [{{current_date|date:'F'}}]</h5>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead class="text-center">
							<tr>
								<th>#</th>
								<th>Cow Id</th>
								<th>Cow Name</th>
								<th>Heat Date </th>
								<th>Drying Date</th>
							</tr>
						</thead>
						<tbody class="text-center">
						{% if dryings_for_current_month %}
						{% for drying_for_current_month in dryings_for_current_month%}
							<tr>
								<td> {{forloop.counter}} </td>
								<td> {{ drying_for_current_month.cow.id }} </td>
								<td> {{ drying_for_current_month.cow.name }} </td>
								<td> {{ drying_for_current_month.second_heat_check_date }} </td>
								<td> {{ drying_for_current_month.drying_date }} </td>
							</tr>
						{% endfor %}
						{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}