{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Milk Production {% endblock %}
{% block content %}
		<section>
			<section>
				<div class="container">
					<div class="text-center non-printable">
						<form id="cowMilkProductionHistorySearchForm" method="get" action="{% url 'digitaldairy:milk_production_history' %}">
							<div class="row">
								<div class="col-lg-3 col-md-3  sf-html-block">
									<select id="selectedMilkProdHistoryCow" required class="form-control" name="cow_id">
									<script>
										var selectedCow = '{{referenced_cow}}';
									</script>
										<option value="cow_id" disabled selected="selected">Select cow</option>
										{% if all_cows %}
										{% for cow in all_cows %}
										<option value="{{ cow.id }}" name="cow_id"> {{ cow.name }} </option>
										{% endfor %}
										{% endif %}
									</select>
								</div>
								<div class="col-lg-3 col-md-3 sf-html-block">
									<input id="from_date" class="form-control" type="date" name="from_date" value="{{from_date|date:'Y-m-d'}}">
								</div>
								<div class="col-lg-3 col-md-3 sf-html-block">
									<input id="to_date" class="form-control" type="date" name="to_date" value="{{to_date|date:'Y-m-d'}}">
									{% csrf_token %}
								</div>
								<div class="col-lg-3 col-md-3 sf-html-block">
									<button form="cowMilkProductionHistorySearchForm" type="submit"
										class="btn btn-primary">Retrieve</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="table-responsive" style="overflow:auto;">
								<table class="table table-hover">
									<thead class="text-center">
										<tr>
											<th>Cow Id</th>
											<th>Cow Name</th>
											<th>Milk Date</th>
											<th>Am</th>
											<th>Noon</th>
											<th>Pm</th>
											<th>Total</th>
										</tr>
									</thead>
									<tbody class="text-center">
										{% if milk_production_list %}
										{% for milk_production in milk_production_list %}
										<tr>
											<td> {{ milk_production.cow_id }} </td>
											<td> {{ milk_production.cow_id.name }} </td>
											<td> {{ milk_production.milk_date }} </td>
											<td> {{ milk_production.am_quantity }} </td>
											<td> {{ milk_production.noon_quantity }} </td>
											<td> {{ milk_production.pm_quantity }} </td>
											<td> {{ milk_production.am_quantity|add:milk_production.noon_quantity|add:milk_production.pm_quantity  }} </td>
										</tr>
										{% endfor %}
										{% endif %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
{% endblock %}