{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Animal Deworming Records {% endblock %}
{% block content %}
{% if deworming_records_list %}
	<script>
		{% for deworming_record in deworming_records_list %}
			var object = {
				deworming_id: {{deworming_record.id}},
				cow_id: '{{deworming_record.cow.id}}',
				dewormer: '{{deworming_record.dewormer}}',
				deworming_date: '{{deworming_record.deworming_date|date:"Y-m-d"}}',
				next_deworming_date: '{{deworming_record.next_deworming_date|date:"Y-m-d"}}',
				deworming_cost: {{deworming_record.deworming_cost}},
			}
			window.sessionStorage.setItem('deworming_'+{{deworming_record.id}},JSON.stringify(object))
		{% endfor %}
	</script>
{% endif %}
		<section class="section-a">
			<div class="container text-center">
				<div class="row sf-html-block">
					<div class="col-lg-6 col-md-6 sf-html-block">
						<h4>Cow Deworming Records</h4>
					</div>
					<div class="col-lg-6 col-md-6 sf-html-block">
                        <button type="button" data-toggle="modal" 
                        data-target="#dewormingInputModal" class="btn btn-primary">
							<span>
								&plus; Add Deworming Record
							</span>
						</button>
					</div>
				</div>
			</div>
			<div class="modal" id="dewormingInputModal" tabindex="-1" aria-labelledby="dewormingInputModalLabel"
			role="dialog" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
								<h4 class="modal-title text-center" id="dewormingInputModalLabel">
                                    Add Deworming Record
								</h4>
								<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
						</div>
						<div class="modal-body">
							<form id="dewormingInputForm" method="post" action="{% url 'digitaldairy:save_deworming_record' %}">
								{% csrf_token %}
								<input id='deworming_id' type='hidden' class='form-control' name='deworming_id'>
								<div class="form-group">
									<label for="deworming_date" class="col-form-label">
										Date
									</label>
									<input id="deworming_date" class="form-control" type="date" name="deworming_date" required>
								</div>
								<div class="form-group">
									<label for="cow_id" class="col-form-label">
										Select Cow
									</label>
									<select id="cow_id" class="form-control" name="cow_id" required>
										<option value="cow_id" disabled selected="selected">Select cow</option>
											{% if all_cows %}
											{% for cow in all_cows %}
											<option value="{{ cow.id }}" name="cow_id"> {{ cow.name }} </option>
											{% endfor %}
											{% endif %}
									</select>
                                </div>
								<div class="form-group">
									<label for="dewormer" class="col-form-label">
										Dewormer
									</label>
									<input id="dewormer" class="form-control"  type="text" name="dewormer" required>
								</div>
			
								<div class="form-group">
									<label for="deworming_cost" class="col-form-label">
										Cost
									</label>
									<input id="deworming_cost" class="form-control" type="number"
										   name="deworming_cost" step="0.01" min="0">
								</div>
								<div class="form-group">
                                    <label for="next_deworming_date" class="col-form-label">
                                        Next Deworming Date
                                    </label>
                                    <input id="next_deworming_date" class="form-control" type="date" name="next_deworming_date">
                                </div>
							</form>
						</div>
						<div class="modal-footer">
							<button form="dewormingInputForm" type="submit" class="btn btn-primary">Save Record</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<div class="">
				<div style="width:100%; margin: auto;" class="row">
					<div class="col-lg-12">
						<div class="table-responsive" style="overflow:auto;">
							<table id="cowDewormingTable" class="table table-hover">
								<thead class="text-center">
									<tr>
										<th>Cow Id</th>
										<th>Cow Name</th>
										<th> Deworming Date </th>
										<th> Dewormer </th>
										<th> Cost (Kshs) </th>
										<th> Next Deworming </th>
										<th> Actions</th>
									</tr>
								</thead>
								<tbody class="text-center">
										{% if deworming_records_list %}
										{% for deworming_record in deworming_records_list %}
										<tr data-src="{{deworming_record.id}}">
											<td> {{ deworming_record.cow }} </td>
											<td>
												<a href="{{ deworming_record.get_deworming_history_url }}">
												{{ deworming_record.cow.name }}
												</a>
											</td>
											<td> {{ deworming_record.deworming_date }} </td>
											<td> {{ deworming_record.dewormer }} </td>
											<td> {{ deworming_record.deworming_cost }} </td>
											<td> {{ deworming_record.next_deworming_date }} </td>
											<td>
												<button id="dewormingEditBtn" type="button" data-toggle="modal"
													data-target="#dewormingInputModal" class='btn btn-sm btn-primary'
														aria-label="Edit">
													<span class="fa fa-edit"></span>
												</button>
												<form id="deleteDewormingForm{{deworming_record.id}}" method="post" action= "{% url 'digitaldairy:delete_de_worming' %}">
												{% csrf_token %}
												<input name="deworming_id" type="hidden" value="{{deworming_record.id}}">
												<button form="deleteDewormingForm{{deworming_record.id}}" type="submit" class='btn btn-sm btn-danger' aria-label="Delete">
													<span class="fa fa-times"></span>
												</button>
											</form>
											</td>
										</tr>
										{% endfor %}
										{% endif %}
									</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}
