{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Cow Diseases {% endblock %}
{% block content %}
{% if diseases_list %}
		<script>
		{% for disease in diseases_list %}
			var object = {
			id: {{disease.id}},
			name: '{{disease.name}}',
			details: '{{disease.details}}',
			date_discovered: '{{disease.date_discovered|date:"Y-m-d"}}',
			}
			window.sessionStorage.setItem('disease_'+object.id,JSON.stringify(object))
		{% endfor %}
		</script>
{% endif %}
<section>
	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-lg-6 col-md-6 sf-html-block">
				<h4>Disease Records</h4>
			</div>
			<div class="col-lg-6 col-md-6 sf-html-block">
				<button type="button" data-toggle="modal" data-target="#cowDiseaseInputModal" class="btn btn-primary">
					<span>
						&plus; Add Disease Record
					</span>
				</button>
			</div>
		</div>
	<div class="modal" id="cowDiseaseInputModal" tabindex="-1" aria-labelledby="cowDiseaseInputModalLabel"
	role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
						<h4 class="modal-title text-center" id="cowDiseaseInputModalLabel">
							Add Disease Record
						</h4>
						<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<div class="modal-body">
					<form id="diseaseInputForm" method="post" action="{% url 'digitaldairy:save_cow_disease_record' %}">
						{% csrf_token %}
						<div class="form-group">
							<label for="date_discovered" class="col-form-label">
								Date Discovered
							</label>
							<input id="date_discovered" class="form-control" type="date" name="date_discovered" required>
						</div>
						<div class="form-group">
							<label for="disease_name" class="col-form-label">
								Disease
							</label>
							<input id="disease_name" class="form-control"  type="text" name="disease_name">
						</div>
						<div class="form-group">
							<label for="disease_details" class="col-form-label">
								Details
							</label>
							<textarea id="disease_details" class="form-control" maxlength="1000" name="disease_details"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button form="diseaseInputForm" type="submit" class="btn btn-primary">Save Record</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-lg-12">
				<div class="table-responsive">
					<table id="cowDiseasesTable" class="table table-hover">
						<thead class="text-center">
							<tr>
								<th> # </th>
								<th> Date Discovered </th>
								<th> Name </th>
								<th> Details </th>
								<th> Actions </th>
							</tr>
						</thead>
						<tbody class="text-center">
								{% if diseases_list %}
								{% for disease in diseases_list %}
								<tr data-src="{{disease.id}}">
									<td> {{ forloop.counter }} </td>
									<td> {{ disease.date_discovered }} </td>
									<td> {{ disease.name }} </td>
									<td> {{ disease.details }} </td>
									<td>
										<button id="diseaseEditBtn" type="button" data-toggle="modal"
											data-target="#cowDiseaseInputModal" class='btn btn-sm btn-primary' aria-label="Edit">
											<span class="fa fa-edit"></span>
										</button>
										<form id="deleteDiseaseForm{{disease.id}}" method="post"
											action="{% url 'digitaldairy:delete_cow_disease' %}">
											{% csrf_token %}
											<input name="disease_id" type="hidden"
											value="{{disease.id}}">
											<button form="deleteDiseaseForm{{disease.id}}" type="submit" class='btn btn-sm btn-danger' aria-label="Delete">
												<span class="fa fa-times"></span>
											</button>
										</form>
									</td>
								</tr>
								{% endfor %}
								{% endif %}
							</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
{% endblock %}
