{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Employees Management {% endblock %}
{% block content %}
{% if employees_list %}
    <script>
    {% for employee in employees_list %}
        var object = {
            name: '{{employee.name}}',
            id: '{{employee.id}}',
            date_hired: '{{employee.date_hired|date:'Y-m-d'}}',
            salary: {{employee.salary}},
            department: '{{employee.department}}',
            designation: '{{employee.designation}}',
            contacts: '{{employee.contacts}}',
        }
        window.sessionStorage.setItem('employee_'+object.id,JSON.stringify(object));
    {% endfor %}
    </script>
{% endif %}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-link text-center" style="flex:1;">
            <a data-toggle="tab" href="#section-a"> Employees List </a>
        </li>
        <li class="nav-link text-center" style="flex:1;">
            <a data-toggle="tab" href="#section-b"> Employees Salary &amp; Advances </a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <section id="section-a" class="tab-pane fade active show">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-6 col-md-6 col-sm-12 sf-html-block">
                    <h4>Employees List </h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 sf-html-block">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#employeesInputModal">
                        <span>
                            &plus; New Employee
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div  class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table id="employeesTable" class="table table-hover">
                            <thead class="text-center">
                                <tr>
                                    <th> # </th>
                                    <th> Employee Name </th>
                                    <th> Id </th>
                                    <th> Contacts </th>
                                    <th> Date Hired </th>
                                    <th> Department </th>
                                    <th> Designation </th>
                                    <th> Salary </th>
                                    <th> Actions </th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% if employees_list %}
                                {% for employee in employees_list %}
                                <tr data-src="{{employee.id}}">
                                    <td> {{ forloop.counter }} </td>
                                    <td> {{ employee.name }} </td>
                                    <td> {{ employee.id }} </td>
                                    <td> {{ employee.contacts }} </td>
                                    <td> {{ employee.date_hired }} </td>
                                    <td> {{ employee.department }} </td>
                                    <td> {{ employee.designation }} </td>
                                    <td> {{ employee.salary }} </td>
                                    <td>
                                        <button id="employeeEditBtn" type="button"
                                                class='btn btn-sm btn-primary'
                                                aria-label="Edit"
                                        data-toggle="modal" data-target="#employeesInputModal">
                                            <span class="fa fa-edit"></span>
                                        </button>
                                        <form id="deleteEmployeeForm" method="post" action="{% url 'digitaldairy:delete_employee' %}">
                                            {% csrf_token %}
                                            <input name="employee_id" type="hidden" value="{{employee.id}}">
                                            <button form="deleteEmployeeForm" type="submit" class='btn btn-sm btn-danger' aria-label="Delete">
                                                <span class="fa fa-times"></span>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="employeesInputModal" tabindex="-1" aria-labelledby="employeesInputModalLabel"
        role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="employeesInputModalLabel">
                            Add Employee Record
                        </h4>
                        <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="employeeInputForm" method="post" action="{% url 'digitaldairy:employees' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="employee_name" class="col-form-label">
                                    Employee Name
                                </label>
                                <input id="employee_name" class="form-control" type="text" name="employee_name" required>
                            </div><div class="form-group">
                                <label for="employee_id" class="col-form-label">
                                    Employee Id
                                </label>
                                <input id="employee_id" class="form-control" type="text" name="employee_id" required>
                            </div>
                            <div class="form-group">
                                <label for="employee_contacts" class="col-form-label">
                                    Employee Contacts
                                </label>
                                <input id="employee_contacts" class="form-control" type="text" name="employee_contacts">
                            </div>
                            <div class="form-group">
                                <label for="date_hired" class="col-form-label">
                                    Date Hired
                                </label>
                                <input id="date_hired" class="form-control" type="date" name="date_hired">
                            </div>
                            <div class="form-group">
                                <label for="department" class="col-form-label">
                                    Department
                                </label>
                                <input id="department" class="form-control" type="text" name="department">
                            </div>
                            <div class="form-group">
                                <label for="designation" class="col-form-label">
                                    Designation
                                </label>
                                <input id="designation" class="form-control" type="text" name="designation">
                            </div>
                            <div class="form-group">
                                <label for="salary" class="col-form-label">
                                   Salary
                                </label>
                                <input id="salary" class="form-control" type="number" name="salary" min="0">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button id="employeeInputFormSubmitBtn" form="employeeInputForm" type="submit" class="btn btn-primary">Save Record</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section-b" class="tab-pane fade">
        <div>
            <div class="row text-center">
                <div class="col-lg-6 col-md-6 col-sm-12 sf-html-block">
                    <h4>Salary Advances Records </h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 sf-html-block">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#salaryAdvancesInputModal">
                        <span>
                            &plus; New Salary Advance
                        </span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table id="salaryAdvancesTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Employee Name </th>
                                    <th> Date </th>
                                    <th> Month </th>
                                    <th> Year </th>
                                    <th> Advance Amount (Kshs) </th>
                                    <th> Balance </th>
                                    <th> Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if salaries_advances %}
                                {% for advance in salaries_advances %}
                                {% if advance.advance_date %}
                                <tr>
                                    <td> {{ forloop.counter }} </td>
                                    <td> {{ advance.employee.name }} </td>
                                    <td> {{ advance.advance_date }} </td>
                                    <td> {{ advance.ending_month_date|date:"F" }} </td>
                                    <td> {{ advance.ending_month_date|date:"Y" }} </td>
                                    <td> {{ advance.advance_amount }} </td>
                                    <td> {{ advance.balance_after_advance }} </td>
                                    <td>
                                        <button type="button" class='btn btn-sm btn-primary' aria-label="Edit"
                                        data-toggle="modal" data-target="#employeesInputModal">
                                            <span class="fa fa-edit"></span>
                                        </button>
                                        <form id="deleteSalaryAdvanceForm" method="post" action="{% url 'digitaldairy:delete_employee' %}">
                                            {% csrf_token %}
                                            <input name="employee_name" type="hidden" value=" {{employee.name}} ">
                                            <button form="deleteSalaryAdvanceForm" type="button" class='btn btn-sm btn-danger' aria-label="Delete">
                                                <span class="fa fa-times"></span>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row text-center">
                <div class="col-lg-6 col-md-6 col-sm-12 sf-html-block">
                    <h4>Paid Salaries</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 sf-html-block">
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#salaryInputModal">
                        <span>
                            &plus; Paid Salary
                        </span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table id="salariesTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Employee Name </th>
                                    <th> Date Paid </th>
                                    <th> Month </th>
                                    <th> Year </th>
                                    <th> Salary Amount (Kshs) </th>
                                    <th> Balance </th>
                                    <th> Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if salaries_advances %}
                                {% for paid_salary in salaries_advances %}
                                <tr>
                                    <td> {{ forloop.counter }} </td>
                                    <td> {{ paid_salary.employee.name }} </td>
                                    <td> {{ paid_salary.salary_date }} </td>
                                    <td> {{ paid_salary.ending_month_date|date:"F" }} </td>
                                    <td> {{ paid_salary.ending_month_date|date:"Y" }} </td>
                                    <td> {{ paid_salary.salary_amount }} </td>
                                    <td> {{ paid_salary.balance_after_salary }} </td>
                                    <td>
                                        <form id="deleteSalaryForm" method="post" action="{% url 'digitaldairy:delete_employee_salary' %}">
                                            {% csrf_token %}
                                            <input name="employee_id" type="hidden"
                                                   value=" {{paid_salary.employee.id}} ">
                                            <input name="salary_month" type="hidden" value=" {{paid_salary.paid_salary.ending_month_date|date:'m'}} "><input name="salary_year" type="hidden" value=" {{paid_salary.ending_month_date|date:'Y'}} ">
                                            <button form="deleteSalaryForm" type="submit" class='btn btn-sm btn-danger' aria-label="Delete">
                                                <span class="fa fa-times"></span>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="salaryAdvancesInputModal" tabindex="-1" aria-labelledby="salaryAdvancesInputModalLabel"
        role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="salaryAdvancesInputModalLabel">
                            Add Salary Advance Record
                        </h4>
                        <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="salaryAdvancesInputForm" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="advance_date" class="col-form-label">
                                    Date
                                </label>
                                <input id="advance_date" class="form-control" type="date" name="advance_date" required>
                            </div>
                            <div class="form-group">
                                <label for="ending_month_date" class="col-form-label">
                                    Ending Month Date
                                </label>
                                <input id="ending_month_date" class="form-control" type="date" name="ending_month_date" required>
                            </div>
                            <div class="form-group">
                                <label for="employee_id" class="col-form-label">
                                    Employee
                                </label>
                                <select required id="employee_id" class="form-control" name="employee_id">
                                    <option value="employee_id" disabled selected="selected">Select Employee</option>
                                    {% if employees_list %}
                                    {% for employee in employees_list %}
                                    <option value="{{ employee.id }}" name="employee_id"> {{ employee.name }} </option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="salary_advance" class="col-form-label">
                                    Advance Amount
                                </label>
                                <input id="salary_advance" class="form-control" type="number" name="salary_advance" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button form="salaryAdvancesInputForm" type="submit" class="btn btn-primary">Save Record</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="salaryInputModal" tabindex="-1" aria-labelledby="salaryInputModalLabel"
        role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="salaryInputModalLabel">
                            Add Salary Record
                        </h4>
                        <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="salaryInputForm" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="salary_date" class="col-form-label">
                                    Date
                                </label>
                                <input id="salary_date" class="form-control" type="date" name="advance_date" required>
                            </div>
                            <div class="form-group">
                                <label for="ending_month_date" class="col-form-label">
                                    Ending Month Date
                                </label>
                                <input id="ending_month_date" class="form-control" type="date" name="ending_month_date" required>
                            </div>
                            <div class="form-group">
                                <label for="employee_id" class="col-form-label">
                                    Employee
                                </label>
                                <select required id="employee_id" class="form-control" name="employee_id">
                                    <option value="employee_id" disabled selected="selected">Select Employee</option>
                                    {% if employees_list %}
                                    {% for employee in employees_list %}
                                    <option value="{{ employee.id }}" name="employee_id"> {{ employee.name }} </option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="salary_amount" class="col-form-label">
                                    Salary Amount
                                </label>
                                <input id="salary_amount" class="form-control" type="number" name="salary_amount" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button form="salaryInputForm" type="submit" class="btn btn-primary">Save Record</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}