{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Monthly Milk Production Summary {% endblock %}
{% block content %}
<section class="section-a">
	<div class="container text-center">
		<form>
			<div class="row sf-html-block">
				<div class="col-lg-5 form-group">
					<h4>Individual Monthly Production</h4>
				</div>
				<div class="col-lg-3 col-md-4 form-group">
					<select id="month" class="form-control" name="month" required>
						<script>
							var month = {{ selected_month_date| date:'m' }};
							var year = {{ selected_month_date| date:'Y' }};
						</script>
						<option value="1">January</option>
						<option value="2">February</option>
						<option value="3">March</option>
						<option value="4">April</option>
						<option value="5">May</option>
						<option value="6">June</option>
						<option value="7">July</option>
						<option value="8">August</option>
						<option value="9">September</option>
						<option value="10">October</option>
						<option value="11">November</option>
						<option value="12">December</option>
					</select>
				</div>
				<div class="col-lg-2 col-md-4 form-group">
					<input id="year" value="{{ selected_month_date|date:'Y' }}" class="form-control" type="text" name="year" required>
				</div>
				<div class="col-lg-2 col-md-4 form-group">
					<button type="submit" class="btn btn-primary">Retrieve</button>
				</div>
			</div>
			{% csrf_token %}
		</form>
	</div>
	<div>
		<div class="row">
			<div class="col-lg-8">
				<div class="table-responsive">
					<table id="monthlyMilkProductionTable" class="table table-hover">
						<thead class="text-center">
							<tr>
								<th> Cow Id </th>
								<th> Cow Name </th>
								<th> {{ previous_month_date|date:"F Y" }}(Kgs) </th>
								<th> {{ selected_month_date|date:"F Y" }}(Kgs) </th>
								<th> Diff </th>
								<th> Daily Average</th>
								<th> Monthly Target(Kgs)</th>
								<th> Variance(Kgs)</th>
							</tr>
						</thead>
						<tbody class="text-center">
							{% if milk_production_list %}
							{% for milk_production in milk_production_list %}
							<tr>
								<td> {{ milk_production.cow_id }} </td>
								<td> {{ milk_production.cow_id.name }} </td>
								<td> {{ milk_production.total_previous_month_quantity }} </td>
								<td> {{ milk_production.total_selected_month_quantity }} </td>
								<td> {{ milk_production.months_milk_difference }} </td>
								<td> {{ milk_production.daily_average|floatformat:2  }} </td>
								<td> {{ milk_production.monthly_milk_target  }} </td>
								<td> {{ milk_production.variance  }} </td>
							</tr>
							{% endfor %}
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-lg-4">
				<div>
					<h4 class="text-center">{{ selected_month_date|date:"F Y" }} Summary</h4>
					<div class="row">
						<p class="col-lg-6 col-sm-6 col-md-6 text-center">
							Total Milk Quantity:
						</p>
						<p class="col-lg-6 col-sm-6 col-md-6 text-center">
							{{total_selected_month_milk_quantity|floatformat:2}} Kgs
						</p>
					</div>
					<div class="row">
						<p class="col-lg-6 text-center">
							No of Cows Milked:
						</p>
						<p class="col-lg-6 text-center">
							{{ milk_production_list|length }}
						</p>
					</div>
					<div class="row">
						<p class="col-lg-6 text-center">
							Highest Yielder:
						</p>
						<p class="col-lg-6 text-center">
							{% with milk_production_list|first as highest_yielder %}
							{{ highest_yielder.cow_id.name }} ({{ highest_yielder.total_selected_month_quantity }})
							{% endwith %}
						</p>
					</div>
					<div class="row">
						<p class="col-lg-6 text-center">
							Lowest Yielder:
						</p>
						<p class="col-lg-6 text-center">
							{% with milk_production_list|last as lowest_yielder %}
							{{ lowest_yielder.cow_id.name }} ({{ lowest_yielder.total_selected_month_quantity}})
							{% endwith %}
						</p>
					</div>
					<div class="row">
						<p class="col-lg-6 text-center">
							Average Yield:
						</p>
						<p class="col-lg-6 text-center">
							{{average_cow_milk_quantity|floatformat:2}}
						</p>
					</div>
					<div class="row">
						<p class="col-lg-6 text-center">
							High Yielders:
						</p>
						<p class="col-lg-6 text-center">
							{% with milk_production_list|slice:":5" as high_yielders %}
							{% for high_yielder in high_yielders %}
							{{ high_yielder.cow_id.name }} ({{ high_yielder.total_selected_month_quantity}}),
							{% endfor %}
							{% endwith %}
						</p>
					</div>
					<div class="row">
						<p class="col-lg-6 text-center">
							Low Yielders:
						</p>
						<p class="col-lg-6 text-center">
							{% with milk_production_list|slice:"-5:" as lowest_yielders %}
							{% for low_yielder in lowest_yielders %}
							{{ low_yielder.cow_id.name }} ({{ low_yielder.total_selected_month_quantity}}),
							{% endfor %}
							{% endwith %}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}