{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Contact Us {% endblock %}
{% block content %}
<section class="u-py-100 u-pt-lg-200 u-pb-lg-150 u-flex-center" style="background: #8B3AC6;
background-image: -webkit-linear-gradient(left, #8B3AC6 0%, #4D3399 100%);
background-image: -o-linear-gradient(left, #8B3AC6 0%, #4D3399 100%);
background-image: -webkit-gradient(linear, left top, right top, from(#8B3AC6), to(#4D3399));
background-image: linear-gradient(to right, #8B3AC6 0%, #4D3399 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B3AC6', endColorstr='#FF4D3399', GradientType=1);">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center text-white">
				<h1 class="text-white">
					Get in Touch with Us
				</h1>
				<div class="u-h-4 u-w-50 bg-white rounded mx-auto my-4"></div>
				<p class="lead">
					Mirum est notare quam littera gothica, quam nunc putamus <br> parum claram, anteposuerit litterarum formas.
				</p>
			</div>
		</div> <!-- END row-->
	</div> <!-- END container-->
</section>
<section class="u-pt-md-100 u-pb-md-70">
	<div class="container">
		<div class="row">
			<div class="col-md-4 mb-4">
				<div class="media align-items-center justify-content-center">
					<span class="icon icon-Phone2 u-fs-lg-60 u-fs-40 0 text-primary mr-3"></span>
					<div class="media-body">
						<p class="u-fs-lg-24 color-heading mb-1">008. 567. 890. 634</p>
						<p class="mb-0">Mon-Fri 9am-6pm</p>
					</div>
				</div> <!-- END media-->
			</div> <!-- END col-lg-4 mb-5 -->

			<div class="col-md-4 mb-4">
				<div class="media align-items-center">
					<span class="icon icon-Mail u-fs-6-lg0 t u-fs-40 text-primary mr-3"></span>
					<div class="media-body">
						<p class="u-fs-lg-24 color-heading mb-1">support@thefury.com</p>
						<p class="mb-0">online support</p>
					</div>
				</div> <!-- END media-->
			</div> <!-- END col-lg-4 mb-5 -->

			<div class="col-md-4 mb-4">
				<div class="media align-items-center">
					<span class="icon icon-Pointer u-f-lgs-6 u-fs-40 text-primary mr-3"></span>
					<div class="media-body">
						<p class="u-fs-lg-24 color-heading mb-1">Dhaka, Bangladesh</p>
						<p class="mb-0">795 South Park Avenue</p>
					</div>
				</div> <!-- END media-->
			</div> <!-- END col-lg-4 mb-5 -->

			<div class="col-md-4"></div>
			<div class="col-md-4"></div>
		</div> <!-- END row-->
	</div> <!-- END container-->
</section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.38562503578!2d90.36290821552576!3d23.840436584545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c145fc250e63%3A0x214296e707131637!2z4Kau4Ka_4Kaw4Kaq4KeB4KawIOCmoeCmv-Cmk-Cmj-Cmh-CmmuCmj-CmuA!5e0!3m2!1sbn!2sbd!4v1510251197851" style="border:0" allowfullscreen="" width="100%" height="450" frameborder="0"></iframe>
<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mx-auto text-center">
				<h2 class="h1">
					We Love To Hear From You
				</h2>
				<div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-40 mx-auto"></div>
				<p>
					You can contact us with anything related to our Products. We'll get in touch with you as soon as possible.
				</p>
			</div>
		</div>
		<!-- END ROW -->
		<div class="row mt-5">
			<div class="col-lg-8 mx-auto text-center">
				<form action="" method="POST">
					<div class="row">
						<div class="col-md-6">
							<div class="input-group u-rounded-50 border u-of-hidden u-mb-30">
								<div class="input-group-addon bg-white border-0 pl-4 pr-0">
									<span class="icon icon-User text-primary"></span>
								</div>
								<input class="form-control border-0 p-3" placeholder="Your fullname" required="" type="text">
							</div>
						</div>
						<div class="col-md-6">
						<div class="input-group u-rounded-50 border u-of-hidden u-mb-30">
							<div class="input-group-addon bg-white border-0 pl-4 pr-0">
								<span class="icon icon-Mail text-primary"></span>
							</div>
							<input class="form-control border-0 p-3" placeholder="Your email" required="" type="text">
						</div>
						</div>
					</div>
					<textarea class="form-control u-rounded-15 p-3 u-mb-30" rows="6" placeholder="Your text..." required=""></textarea>
					<button class="btn btn-rounded btn-primary u-w-170" type="submit">Submit</button>
				</form>
			</div>
		</div>
		<!-- END ROW -->
	</div>
</section>
{% endblock %}