/** body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.875em;
    color: #5a6671;
    font-weight: 400;
}
**/
.navbar-nav .dropdown-menu{
	background-color: inherit;
}
.dropdown-item{
	color: #fff;
}

.sf-html-block{
    padding: 16px;
}
form[id^='delete']{
    display:inline-block;
}
button.btn:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
}
.badge{
	font-size:1rem;
}