{% extends "digitaldairy/html/common-header.html" %}
{% block title %} Registration Complete {% endblock %}
{% block content %}
<div class="alert alert-success">
	<h1>
		<i class="material-icons">email</i>Thank you for signing up</h1>
	<p>Check your email to activate your account.</p>
</div>
<div class="text-center">
	<p>Didn't get the email? Try checking your spam folder or email us at <a class="text-primary"
			href="mailto:smartfarmsoftwares@gmail.com">smartfarmsoftwares@gmail.com</a></p>
</div>
{% endblock %}